<launch>
  <node name="republish" pkg="image_transport" type="republish" args="compressedDepth in:=/camera/aligned_depth_to_color/image_raw raw out:=/depth"/>
  <node name="laser2pc" pkg="icra20" type="laser2pc.py"/>
  <node name="pc2_to_pclxyz" pkg="icra20" type="pc2_to_pclxyz"/>
  <node name="pclxyz_to_save" pkg="icra20" type="pclxyz_to_save" output="screen">
    <param name="path" value="/media/shapelim/SAMSUNG/icra2020/test6" type="str" />
  </node>

</launch>
